- # #plinko
- #   - 13.times do |num|
- #     - if num.even?
- #       .row.nine{ class: "row-index-#{num}" }
- #         - 9.times do |gate_num|
- #           .gate{ class: "gate-index-#{gate_num}" }
- #     - else
- #       .row.eight{ class: "row-index-#{num}" }
- #         - 8.times do |gate_num|
- #           .gate{ class: "gate-index-#{gate_num}" }
- #   .row.nine.score.row-index-14

