.case {
  width: 90px;
  height: 90px;
  float:left;
  // border: 1px solid black;
  display: inline-block;
  .slot {
  float:left;
    width: 0;
    height: 0;
    display: inline-block;
    float: left;
    border: 15px solid transparent;
  }
}
