.card {
  background-blend-mode: difference;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  filter: invert(100%);
  -webkit-filter: invert(100%);
  width: 1280px;
  height: 720px;
  margin: 0 auto;
}

.container {
  height: 1000px;
}
