body {
  background-color: transparent;
}

.gradient {
  width:500px;
  height:500px;
  background-color: grey;
  position:absolute;
  left: 0px
}

.one {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cecece+0,454791+50,cecece+100 */
  background: #cecece; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #cecece 0%, #454791 50%, #cecece 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #cecece 0%,#454791 50%,#cecece 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #cecece 0%,#454791 50%,#cecece 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#cecece',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  top:0px;
}

.two {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#454791+0,cecece+50,454791+100 */
  background: #454791; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #454791 0%, #cecece 50%, #454791 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #454791 0%,#cecece 50%,#454791 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #454791 0%,#cecece 50%,#454791 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#454791', endColorstr='#454791',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  top: 500px;
}

